<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .register{
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
    <div class="register">
    <form action="{% url 'students:regCon' %}" method="POST">
        {% csrf_token %}
       <label for="name">이름 : </label> <input type="text" name="name" id="name"><br>
       <label for="name">나이 : </label><input type="text" name="age" id="age"><br>
       <label for="name">전공 : <input type="text" name="major" id="major"><br>
        <label for="name">학년 :  <input type="text" name="grade" id="grade"><br>
        <label for="name">성별 :  <input type="text" name="gender" id="gender"><br>
         <button>등록</button>
    </form>
</div>
</div>
</body>
</html>